<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902308453779-l7akdmgf38p3tfhmrogu2enr239au322.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902308453779-l7akdmgf38p3tfhmrogu2enr239au322</string>
	<key>API_KEY</key>
	<string>AIzaSyAmZLuiINSxgjQH81wgtR7q4fLHNnponBo</string>
	<key>GCM_SENDER_ID</key>
	<string>902308453779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nutriLog</string>
	<key>PROJECT_ID</key>
	<string>nutrilog-9383b</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrilog-9383b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902308453779:ios:31d79e147463db97ee1c66</string>
	<key>DATABASE_URL</key>
	<string>https://nutrilog-9383b-default-rtdb.firebaseio.com</string>
</dict>
</plist>